@use 'variables' as *;
@use 'mixins' as *;

.diary {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: stretch;

    .day {
        display: flex;
        flex-direction: column;
        gap: 2rem;
        align-items: stretch;

        .food {
            display: flex;
            flex-direction: column;
            gap: 1rem;
            
            @include for-size(tablet-landscape-up) {
                flex-direction: row;

                .food-column {
                    flex-basis: 20%;
                    flex-grow: 1;
                    flex-shrink: 0;
                }
            }
        }


    }

}