<div class="sidebar">
    <h1 class="title"><span class="word-1">Food</span> <span class="word-2">Calculator</span></h1>
    <ul class="navbar-items">
        @for (item of navbarItems; track $index) {
            <li class="navbar-item" [routerLink]="item.routerLink" routerLinkActive="active">
                <i class="bi bi-{{item.IconName}}"></i>
                <span>
                    {{ 'NAVBAR.' + item.LocaleLink | translate}}
                </span>
            </li>
        }
    </ul>
</div>

<div class="bottombar">
    <ul class="navbar-items">
        @for (item of leftMobileNavItems; track $index) {
            <li class="navbar-item" [routerLink]="item.routerLink" routerLinkActive="active">
                <i class="bi bi-{{item.IconName}}"></i>
                <span>
                    {{ 'NAVBAR.' + item.LocaleLink | translate}}
                </span>
            </li>
        }
        <li class="navbar-item navbar-center-item" [routerLink]="centerMobileNavItem.routerLink" routerLinkActive="active">
            <i class="bi bi-{{centerMobileNavItem.IconName}}"></i>
            <span>
                {{ 'NAVBAR.' + centerMobileNavItem.LocaleLink | translate}}
            </span>
        </li>
        @for (item of rightMobileNavItems; track $index) {
            <li class="navbar-item" [routerLink]="item.routerLink" routerLinkActive="active">
                <i class="bi bi-{{item.IconName}}"></i>
                <span>
                    {{ 'NAVBAR.' + item.LocaleLink | translate}}
                </span>
            </li>
        }
    </ul>
</div>