@use 'variables' as *;
@use 'mixins' as *;


.water-intake {
    background: $FC-white;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    border-radius: 10px;

    @include for-size(tablet-landscape-up) {
        padding: 1rem 2rem;
    }


    .header {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        font-weight: 700;
    }

    .water-count {
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        .droplet {
            color: $FC-blue;
            font-size: 2.7em;
        }
    }
}